/* Base */

body{
    font-family: 'lato';
    font-weight: 400;
    font-style: normal;
    color: #666666;
}

@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1170px;
        padding: 0
    }
}

p {margin-bottom: 0;font-weight: normal;
    font-size: 15px;}

main {display:block;}

ul{padding-left:0;list-style:none; margin-bottom: 0;}

h2{
    font-weight: 900;
    font-size: 30px;
    line-height: 22px;
    color: #333;
}

h3{
    font-weight: bold;
    font-size: 24px;
    color: #333;
}

h4{
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #333;
}

button:focus,input, textarea{
    outline:none;
}

/* Article.preheader */

.preheader{
    background-color:#F2F2F2;
    padding: 14px 0 14px 0;
}

/* Header.header */

.header{
    background-color: #fff;
    padding: 30px 0 30px 0;
}

.header-logo{
    position: relative;
    width: max-content;
}

.header-logo>a{
    position: absolute;
    height:100%;
    width:100%;
}

.header .logo-text{
    margin-left: 16px;
    line-height: 22px;
}

.header .logo-text>span{
    text-transform: uppercase;
    color:#333333;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
}

.header .logo-text>p{
    font-size: 14px;
}

.header nav ul:nth-child(1) li{
    margin-right: 25px;
}

.header nav ul:nth-child(1) li:nth-last-child(1){
    margin-right: 45px;
}

.header nav ul li a{
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #333333;
    text-decoration: none;
}

.header nav ul:nth-child(2) li{
    margin-right: 0
}

/* Main.main */

.main{
    background:url(../img/bg/main-bg.png);
    padding: 118px 0 132px 0;
}

.main-title{
    font-weight: bold;
    font-size: 40px;
    color: #FFFFFF;
    white-space: nowrap;
    margin-bottom: 20px;
}

.main-subtitle{
    font-size: 18px;
    color: #CCCCCC;
}

.buttons{
    margin-top:40px;
}

.buttons button{
    width:170px;
    height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    border: 2px solid #CCCCCC;
    background: transparent;
    transition: all 0.8s ease;
}

.buttons button:nth-child(1){
    margin-right:15px;
}

.buttons button:hover{
    background:#FFB619;
    border: transparent
}

/* Article.exp */

article.exp{
    padding: 55px 0;
    background: url(../img/bg/exp-bg.png);
}

.exp-title{
    font-weight: bold;
    font-size: 24px;
    color: #333333
}

.exp button{
    width:170px;
    height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    border: none;
    background: #FFB619;
    transition: all 0.8s ease;
}

.exp button img{
    padding-right:10px
}

/* Choose */

section.choose{
    padding:80px 0 150px 0;
}

.choose-image{
    position: relative;
    background: url(../img/icons/ramka.png);
    width: 440px;
    height: 420px;
}

.image-ramka{
    position: absolute;
    top: 30px;
    left: 28px;
}

.choose-rabbit{
    position: relative;
}

.choose-rabbit img{
    position: absolute;
}

.choose-rabbit img:nth-child(2){
    top: 26px;
    left:17px;    
}

.choose-text{
    padding-left: 50px;
    padding-top: 40px;
}

.choose-text h2{
    text-transform: uppercase;
    position: relative;
    margin-bottom: 42px;
}

.choose-text h2::after{
    content: '';
    width: 60px;
    height: 3px;
    background: #1C3E9B;
    position: absolute;
    top: 40px;
    left: 0;
    
}

.choose-blocks{
    margin-top:40px;
    flex-wrap:wrap;
}

.choose-block{
    margin-right: 30px;
    margin-bottom: 45px;
    width: 278px;
}

.choose-blocks .choose-block:nth-child(2n){
    margin-right: 0;
}

.choose-blocks .choose-block:nth-child(4n+3), .choose-blocks .choose-block:nth-child(4n){
    margin-bottom: 0;
}

.choose-block .block-text{
    max-width: 215px;
    margin-left: 14px;
}

.choose-block img{
    height: fit-content;
}

/* Section.services */

.services{
    padding: 80px 0 100px 0;
    position: relative;
}

.services:after{
    content:'';
    position: absolute;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    z-index: -1;
    background-image: url(../img/bg/main-bg.png);
    filter: grayscale(100%);
  }

.services-title h2{
    position: relative;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 87px
}

.services-title h2::after{
    content: '';
    background: #fff;
    position: absolute;
    width: 60px;
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
    top: 42px;
}

.service-block{
    width: 270px;
    height: 265px;
    border: 4px solid #013E99;
    transition: all 0.5s ease;
    color: #fff;
}

.service-block:hover{
    background: #013E99;
}

.service-block-image{
    height:58px;
}

.service-block h3{
    padding-top: 27px;
    color: #fff
}

.services button{
    padding: 16px 37px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    border: none;
    background: #FFB619;
    transition: all 0.8s ease;
    margin-top:80px;
}

/* Section.projects */

.projects{
    padding: 80px 0 137px 0;
}

.projects-title h2{
    position: relative;
    color: #333333;
    text-transform: uppercase;
    padding-bottom: 65px
}

.projects-title h2::after{
    content: '';
    background: #1C3E9B;
    position: absolute;
    width: 60px;
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
    top: 42px;
}

.projects-tab ul{
    margin-bottom: 34px
}

.projects-tab ul li{
    margin-right: 25px;
}

.projects-tab ul li:nth-last-child(1){
    margin-right: 0;
}

.projects-tab ul li a{
    font-weight: bold;
    font-size: 15px;
    color: #666;
    text-transform: uppercase;
}
.projects-tab ul li a.active{
    color:#FFB619;
}

.project-block{
    position: relative;
}

.project-block:hover .back-side{
    opacity: 1;
    z-index: 1;
}

.back-side{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: linear-gradient(0deg, rgba(28, 62, 155, 0.8), rgba(28, 62, 155, 0.8)), url(.png);
    opacity: 0;
    z-index:-1;
    transition: all 0.5s ease;
}

.back-side p:nth-child(1){
    font-weight: bold;
    font-size: 20px;
    color: #FFB619;
    margin-bottom: 5px
}

.back-side p:nth-child(2){
    color: #CCCCCC;
    margin-bottom:17px
}

.tab-content>.active {
    display: flex;
}

.back-side a{
    width:100%;
    height:100%;
    position: absolute;
}

.projects button{
    padding: 16px 37px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    border: none;
    background: #FFB619;
    transition: all 0.8s ease;
    margin-top:80px;
}

/* Section help */

.help{
    padding: 176px 0 218px 0;
    position: relative;
}

.help:after{
    content:'';
    position: absolute;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    z-index: -1;
    background-image: url(../img/bg/main-bg.png);
    filter: grayscale(80%);
  }

.help p:nth-child(1){
    font-weight: bold;
    font-size: 36px;
    line-height: 52px;
    color: #fff;
    text-transform: uppercase;
    width: 45%;
}

.help button{
    width: 170px;
    height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    border: none;
    background: #FFB619;
    transition: all 0.8s ease;
    margin-top: 32px
}

.help button img {
    padding-right: 10px;
}

/* Section.map */

.map{
    padding: 80px 0 98px 0;
    background: url(../img/bg/map-bg.png);
}

.map-title h2{
    position: relative;
    color: #333333;
    text-transform: uppercase;
    padding-bottom: 65px
}

.map-title h2::after{
    content: '';
    background: #1C3E9B;
    position: absolute;
    width: 60px;
    height: 3px;
    left: 0;
    top: 42px;
}

.map-block{
    width: 470px;
    height: 420px;
    background: #E5E5E5;
    border: 4px solid #FFFFFF;
}

form input, form textarea{
    width: 310px;
    height: 50px;
    background: #FFFFFF;
    border: none;
    padding: 13px 22px;
    color: #666666;
    margin-right: 18px;
    margin-bottom: 20px;
}

form .big-input{
    width: 637px;
    height: 127px;
}

.map button{
    padding: 16px 37px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    border: none;
    background: #FFB619;
    transition: all 0.8s ease;
    margin-top: 15px
}

/* Section.firms */

.firms{
    padding: 55px 0;
    background-color: #fff;
}

/* Footer */

footer {
    padding: 57px 0 142px 0;
    background-color: #1A1A1A;
}

.footer-subtitle{
    font-size: 18px;
    color:#ccc;
    text-transform: uppercase;
    margin-bottom: 32px
}

.footer-info li{
    margin-bottom: 10px
}

.footer-info li img{
    height:fit-content;
    margin-right: 15px;
}

.footer-info-text span{
    font-weight: bold;
    font-size: 18px;
    color: #CCCCCC;
    text-transform: uppercase;
}

.footer-info-text p{
    line-height: 22px;
}

.footer-info-2{
    column-count: 2;
}

.footer-info-2 li{
    margin-bottom: 12px
}

.footer-info-2 li a{
    color: #999999;
    font-weight: normal;
    font-size: 15px;
}

.footer-info-2 li img{
    margin-right: 12px
}

.discount{
    width: 370px;
    height: 220px;
    border: 1px dashed #404040;
}

.discount p{
    color: #ccc;
    font-size: 15px;
}

.discount span{
    color: #FFB619;
}

.discount-top p{
    text-transform: uppercase;
    font-size: 18px;
}

.discount-top p:nth-child(1){
    padding-bottom: 11px
}

.discount-top p:nth-child(2){
    padding-bottom: 50px
}

.discount-top span{
    font-weight: 900;
    font-size: 55px;
    color: #FFB619;
    padding: 0 11px
}

/* Aside.subfooter */

.sub-footer{
    background-color: #0D0D0D;
    padding: 19px 0;
}

.sub-footer p{
    font-size: 15px;
    color: #666666;
}

.sub-footer p span{
    color: #FFB619;
}

/* Mobile-menu */

.icon-menu{
    color: #000;
}

.icon-menu-wrap{
    width:35px;
    margin-left:auto;
}



.sideNav {
    height: 307px;
    width: 0;
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.sideNav .closeBtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    z-index: 3
}

.sideNav>ul {
    list-style: none;
    padding-left: 0;
    position: absolute;
    width: 100%;
    top: 20px;
    z-index: 1;
}

.sideNav>ul.ul-2{
    bottom: 5px;
    top: initial;
}

.sideNav>ul>li {
    width: 100%;
    margin-left: 28px;
    margin-bottom: 18px
}

.sideNav>ul>li:nth-last-child(1) {
    margin-bottom: 9px
}

.sideNav>ul>li>a {
    font-size: 24px;
}

.closeBtn img{
    width: 20px;
}

/* Modal */

.modal-footer button{
    width: 170px;
    height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    background: #FFB619;
    border: transparent;
    transition: all 0.8s ease;
}

.modal-body form input{
    border: 1px solid #333;
    margin-right: 0;
    margin-bottom: 0;
    margin: 0 auto
}

.close-modal{
    border: none;
}